.styling-footer{
    position: relative;
    bottom: 0%;
    margin-top: 100px;
    display: flex;
    height: 12vh;
    background-color: rgb(88, 88, 88);
    color: white;
    white-space: pre-wrap;
    align-items: center;
    justify-content: space-around;
    
}