<div class="styling-footer">
  <div>
      <h3> Informacje:</h3>
      <p>
        REGON: 123456789
      </p>
      <p>
        NIP: 123456879
      </p>
  </div>
  <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quo.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, quo.</p>
</div>
<div style="margin-top: 20px;">
    <img [src]="'assets/img/mapa1.png'" width="80" height="80" style="display: inline;"> 
    <p>
        Znajdź nas!
    </p>
</div>
</div>
