.styling-footer{
    display: flex;
    height: 12vh;
    background-color: rgb(88, 88, 88);
    color: white;
    white-space: pre-wrap;
    align-items: center;
    justify-content: space-around;
    vertical-align: bottom;
}