<div  class="mat-app-background" style="width: 80%; margin-left: 10%; margin-right: 10%; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 5%;" >
<h1>Modyfikacja produktu </h1>
    <mat-form-field class="example-form-field" style=" width: 60%;" >
    <mat-label>Clearable input</mat-label>
    <input matInput type="text">
    <button mat-button >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" style=" width: 60%;" >
    <mat-label>Clearable input</mat-label>
    <input matInput type="text">
    <button mat-button >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field" style=" width: 60%;" >
    <mat-label>Clearable input</mat-label>
    <input matInput type="text">
    <button mat-button >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-button   (click)="getProd()">
   Get prod
  </button>
</div>