$headerColor : black;

.tableHeader{
color: white;
background-color: $headerColor;
border: 1px solid black;
}

td{
    color: black;
    padding: 10px !important;
    border: 1px solid black;
}
.colorGreen{
    color: green;
}
.colorRed{
    color: red;
}