
<nav mat-tab-nav-bar style="position: sticky;  top: 0; z-index: 5; background-color: black; height: 10vh; align-items: center;">
  <h1 style="color: rgb(255, 255, 255); margin-left: 20px; margin-right: auto; font-weight: 200; font-family: 'Bangers', cursive;">Wszystko dla domu</h1>
<a mat-tab-link>
  Oferta
    <mat-select>
      <mat-optgroup label="Duże AGD">
      <mat-option routerLink = "/offer/pralki" >
        Pralki
      </mat-option>
      <mat-option routerLink = "/offer/zmywarki" >
        Zmywarki
      </mat-option>
      <mat-option routerLink = "/offer/lodowki" >
        Lodówki
      </mat-option>
      <mat-option routerLink = "/offer/piekarniki"  >
        Piekarniki
      </mat-option>
    </mat-optgroup>
    <mat-optgroup label="Małe AGD">
      <mat-option routerLink = "/offer/odkurzacze" >
        Odkurzacze
      </mat-option>
      <mat-option routerLink = "/offer/zelazka" >
        Żelazka
      </mat-option>
      <mat-option routerLink = "/offer/czajniki" >
        Czajniki
      </mat-option>
      <mat-option routerLink = "/offer/tostery" >
        Tostery
      </mat-option>
    </mat-optgroup>
    </mat-select>
  </a>
  <a mat-tab-link routerLink = "/basket">
    <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: red;">shopping_cart</mat-icon>
    Koszyk
  </a>
  <a mat-tab-link routerLink = "/complaint">Reklamacja</a>
  <a mat-tab-link (click)="login()">Login</a>
</nav>
