
<nav mat-tab-nav-bar style="background-color: black;">
  <h1 style="color: white;">Wszystko dla domu</h1>
  <a mat-tab-link [matMenuTriggerFor]="belowMenu">Oferta</a>
  <a mat-tab-link routerLink = "/basket">
    <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: brown;">shopping_cart</mat-icon>
    Koszyk
  </a>
  <mat-menu #belowMenu="matMenu" style="background-color: #3f51b5;">
    <button routerLink = "/offer" mat-menu-item style="background-color: white; color: black;">Duże AGD</button>
    <button mat-menu-item style="background-color: white; color: black;">Małe AGD</button>
   </mat-menu>
  <a mat-tab-link >Konto</a>
  <a mat-tab-link >Regulamin</a>
</nav>
