$headerColor : black;

.tableHeader{
color: white;
background-color: $headerColor;
border: 1px solid black;
}

td{
    color: black;
    padding: 10px !important;
    border: 1px solid black;
}
th, td{
    text-align: center !important;
}
th{
    height: 60px;
}