<mat-horizontal-stepper  #stepper style="background-color: #363434; color: white;" linear = "true"> 
    <mat-step >
        <ng-template matStepLabel style="pointer-events: none;">Zawartość koszyka</ng-template>
        <app-basket></app-basket>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Płatność</ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Twoje dane</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Dostawa</ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Podsumowanie</ng-template>
      </mat-step>
  </mat-horizontal-stepper>